.aside .logo a::before{
    border-top: 4px solid tomato;
    border-left: 4px solid tomato;
}

.aside .logo a::after{
    border-right: 4px solid tomato;
    border-bottom: 4px solid tomato;
}

.aside .nav li a:hover,
.aside .nav li a.active{
    color: tomato;
}
.btn,
.section-title h2::after,
.section-title h2::before,
.aside .nav-toogler span,
.aside .nav-toogler span::before,
.aside .nav-toogler span::after,
.home .intro .social-links a{
    background-color: tomato;
}



/*.about .about-content .about-text h3 span,*/